{% extends "/base/main_content.html"%}

<!-- css block -->
{% block sub_css_content %}
<link type="text/css" rel="stylesheet" href="/css/articles_tree.css" />
{% endblock %}

{% block content %}
<div style="position: fixed; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 62, 1, .5)"></div>
<div id="tree-container" style="overflow: hidden; position: fixed; height: 100%; width: 100%;"></div>
{% endblock %}


<!-- js block -->
{% block sub_js_content %}
<script type="text/javascript" src="/js/d3.js"></script>
<script type="text/javascript" src="/js/cycle.js"></script>
<script type="text/javascript" src="/js/articles_tree.js"></script>
{% endblock %}
